<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CommunityMapper">
 	
 	
	<resultMap id="contentSelectMap" type="content">
		<result property="contentNo" 		column="content_no" 		jdbcType="NUMERIC"/>
		<result property="userId"			column="user_id" 			jdbcType="VARCHAR" />
		<result property="userNickName" 	column="user_nickname" 		jdbcType="VARCHAR" />
		<result property="contentName" 		column="content_name" 		jdbcType="VARCHAR" />
		<result property="contentBody" 		column="content_body" 		jdbcType="VARCHAR"	/>
		<result property="videoName" 		column="video_name" 		jdbcType="VARCHAR" />
		<result property="fileName" 		column="file_name" 			jdbcType="VARCHAR" />
		<result property="regDate" 			column="reg_date" 			jdbcType="DATE" />
		<result property="viewCount" 		column="view_count" 		jdbcType="NUMERIC"/>
		<result property="boardCode" 		column="board_code" 		jdbcType="CHAR"/>
		<result property="contentCode" 		column="content_code" 		jdbcType="CHAR"/>
		<result property="open" 			column="open" 				jdbcType="CHAR"/>
		<result property="goodCount" 		column="good_count" 		jdbcType="NUMERIC"/>
		<result property="badCount" 		column="bad_count" 			jdbcType="NUMERIC"/>
		<result property="refundTranNo" 	column="refund_tran_no" 	jdbcType="NUMERIC"/>
		<result property="refundCheck" 		column="refund_check" 		jdbcType="CHAR"/>
		
	</resultMap>
	
	<resultMap id="reportSelectMap" type="report" >
		<result property="reportNo" 		column="report_no" 			jdbcType="NUMERIC"/>
		<result property="whiteId" 			column="white_id" 			jdbcType="VARCHAR"/>
		<result property="whiteNickName" 	column="white_nickname" 	jdbcType="VARCHAR"/>
		<result property="blackId" 			column="black_id" 			jdbcType="VARCHAR"/>
		<result property="contentNo" 		column="content_no" 		jdbcType="NUMERIC"/>
		<result property="replyNo" 			column="reply_no" 			jdbcType="NUMERIC"/>
		<result property="reportReasonCode" column="report_reason_code" jdbcType="CHAR"/>
		<result property="regDate" 			column="reg_date" 			jdbcType="DATE"/>
		<result property="reportCode" 		column="report_code" 		jdbcType="CHAR"/>
		<result property="check" 			column="check" 				jdbcType="CHAR"/>
			
	</resultMap>
	
	<resultMap  id="replySelectMap" type="reply">
		<result property="replyNo" 			column="reply_no" 			jdbcType="NUMERIC"/>
		<result property="userId" 			column="user_id" 			jdbcType="VARCHAR"/>
		<result property="userNickName" 	column="user_nickname" 		jdbcType="VARCHAR"/>
		<result property="contentNo" 		column="content_no" 		jdbcType="NUMERIC"/>
		<result property="replyBody" 		column="reply_body" 		jdbcType="VARCHAR"/>
		<result property="regDate" 			column="reg_date" 			jdbcType="DATE"/>	
	</resultMap>
	
	<!-- SQL : INSERT Content -->
	<insert 	id="insertContent"		parameterType="content" >
	 	<!-- <selectKey keyProperty="contentNo" resultType="int" order="BEFORE">
	 			SELECT seq_content_content_no.nextval FROM DUAL  currval 
		</selectKey> -->
	 	INSERT <!-- NVL(#{contentBody:VARCHAR}, empty_clob()) -->
		INTO content 
		VALUES	 (	seq_content_content_no.nextval , #{userId} , #{userNickName} , #{contentName} 
		, #{contentBody} , #{fileName:VARCHAR} , #{videoName:VARCHAR} 
		, SYSDATE, 0, #{boardCode}, #{contentCode}, #{open}, 0, 0, #{refundTranNo}, #{refundCheck:CHAR} )
					
	 </insert>
	 
	 <insert 	id="insertReport"		parameterType="report">
	 	INSERT
	 	INTO report
	 	VALUES	(	seq_report_report_no.nextval, #{whiteId}, #{whiteNickName}, #{blackId}, #{reportReasonCode},
	 				SYSDATE, #{contentNo}, #{replyNo}, #{check}, #{reportCode})
	 </insert>
	 
	 <insert	id="insertReply"		parameterType="reply">
	 	INSERT
	 	INTO reply
	 	VALUES	( 	seq_reply_reply_no.nextval, #{userId}, #{userNickName}, #{contentNo}, #{replyBody}, SYSDATE)
	 </insert>
	 	<!-- <if test="contentNo==0">null</if>
					<if test="contentNo!=0">#{contentNo}</if> ,
					<if test="replyNo==0">null</if>
					<if test="replyNo!=0">#{replyNo}</if> , --> 
	
	<!-- SQL : SELECT ONE -->
	 <select 	id="selectContent"	parameterType="content"	resultMap="contentSelectMap">
		SELECT
		content_no , user_id, user_nickname, content_name, content_body, file_name, video_name, SYSDATE, view_count,
		board_code, content_code, open, good_count, bad_count, refund_tran_no, refund_check  		
		FROM content 
		WHERE content_no = #{value}
	 </select>
	 
	 <!-- SQL :  UPDATE CLOB 수정 필요.....-->
	 <update	id="updateContent"	parameterType="content"  >
	   	UPDATE content
	   	<set>
			content_name	= #{contentName},
			content_Body = #{contentBody},
			file_name	= #{fileName},
			video_name = #{videoName}
	   	</set>
	   	WHERE content_no = #{contentNo}
	 </update>
	
  	<!-- SQL: DELETE  -->
	 <delete id="deleteReply" parameterType="int">
	  	DELETE 
	  	FROM reply 
	  	WHERE reply_no = #{replyNo} 
  	</delete>
  	
  	<!-- SQL: SELECT LIST -->
  	<select  id="selectListContent"  parameterType="search"	resultMap="contentSelectMap">
	 	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	
	  									SELECT content_no, user_id, user_nickName
	  										, content_name, content_body , file_name
	  										, video_name , SYSDATE , view_count, board_code
	  										, content_code , open , good_count , bad_count
	  										, refund_tran_no, refund_check
											FROM content
											<if test="searchCondition != null">
												<where>
													<if test="searchCondition == 0 and searchKeyword !='' ">
										 				content_no = #{searchKeyword}
													</if>
													<if test="searchCondition == 1 and searchKeyword !='' ">
										 				and LOWER(content_name) LIKE LOWER('%'|| #{searchKeyword}||'%') 
													</if>
												</where>
											</if>
											ORDER BY content_no ) inner_table)
						<!-- WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} --> 
	 </select>
	 
	 <select  id="selectTotalCount"  parameterType="search"	 resultType="int">
	  	SELECT COUNT(*)
	  					FROM(			SELECT content_no, user_id, user_nickName
	  										, content_name, content_body , file_name
	  										, video_name , SYSDATE , view_count, board_code
	  										, content_code , open , good_count , bad_count
	  										, refund_tran_no, refund_check
											FROM content
											<if test="searchCondition != null">
												<where>
													<if test="searchCondition == 0 and searchKeyword !='' ">
										 				content_no = #{searchKeyword}
													</if>
													<if test="searchCondition == 1 and searchKeyword !='' ">
										 				and LOWER(content_name) LIKE LOWER('%'|| #{searchKeyword}||'%') 
													</if>
													</where>
									</if>) countTable
	</select>
	 
	 <!-- <select  id="selectListReport"  parameterType="search"	resultMap="reportSelectMap">
	 	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	
	  									SELECT report_no, white_id, white_nickname
	  										, black_id, content_no , reply_no
	  										, report_reason_code , SYSDATE , report_code, check
											FROM report
											
											) inner_table
			)		
	 </select>
	 
	 <select  id="selectListReply"  parameterType="search"	resultMap="replySelectMap">
	 	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	
	  									SELECT reply_no, user_id, user_nickname
	  										, content_no, reply_body, SYSDATE
											FROM reply
											
											) inner_table
			)		
	 </select> -->

</mapper>