<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CommunityMapper">
 	
 	
	<resultMap id="contentSelectMap" type="content">
		<result property="contentNo" 		column="content_no" 		jdbcType="NUMERIC"/>
		<result property="userId"			column="user_id" 			jdbcType="VARCHAR" />
		<result property="userNickName" 	column="user_nickname" 		jdbcType="VARCHAR" />
		<result property="contentName" 		column="content_name" 		jdbcType="VARCHAR" />
		<result property="contentBody" 		column="content_body" 		jdbcType="CLOB" />
		<result property="videoName" 		column="video_name" 		jdbcType="VARCHAR" />
		<result property="fileName" 		column="file_name" 			jdbcType="VARCHAR" />
		<result property="regDate" 			column="reg_date" 			jdbcType="DATE" />
		<result property="viewCount" 		column="view_count" 		jdbcType="NUMERIC"/>
		<result property="boardCode" 		column="board_code" 		jdbcType="CHAR"/>
		<result property="contentCode" 		column="content_code" 		jdbcType="CHAR"/>
		<result property="open" 			column="open" 				jdbcType="CHAR"/>
		<result property="goodCount" 		column="good_count" 		jdbcType="NUMERIC"/>
		<result property="badCount" 		column="bad_count" 			jdbcType="NUMERIC"/>
		<result property="refundTranNo" 	column="refund_tran_no" 	jdbcType="NUMERIC"/>
		<result property="refundCheck" 		column="refund_check" 		jdbcType="CHAR"/>
		
	</resultMap>
	
	<resultMap id="reportSelectMap" type="report" >
		<result property="repotNo" 			column="report_no" 			jdbcType="NUMERIC"/>
		<result property="whiteId" 			column="white_id" 			jdbcType="VARCHAR"/>
		<result property="whiteNickName" 	column="white_nickname" 	jdbcType="VARCHAR"/>
		<result property="blackId" 			column="black_id" 			jdbcType="VARCHAR"/>
		<result property="reportReasonCode" column="report_reason_code" jdbcType="CHAR"/>
		<result property="regDate" 			column="reg_date" 			jdbcType="DATE"/>
		<result property="contentNo" 		column="content_no" 		jdbcType="NUMERIC"/>
		<result property="replyNo" 			column="reply_no" 			jdbcType="NUMERIC"/>
		<result property="Check" 			column="check" 				jdbcType="CHAR"/>
		<result property="reportCode" 		column="report_code" 		jdbcType="CHAR"/>
			
	</resultMap>
	
	<resultMap  id="replySelectMap" type="reply">
		<result property="replyNo" 			column="reply_no" 			jdbcType="NUMERIC"/>
		<result property="userId" 			column="user_id" 			jdbcType="VARCHAR"/>
		<result property="userNickName" 	column="user_nickname" 		jdbcType="VARCHAR"/>
		<result property="contentNo" 		column="content_no" 		jdbcType="NUMERIC"/>
		<result property="replyBody" 		column="reply_body" 		jdbcType="VARCHAR"/>
		<result property="regDate" 			column="reg_date" 			jdbcType="DATE"/>	
	</resultMap>
	
	<!-- SQL : INSERT Content -->
	<insert 	id="InsertContent"		parameterType="content" >
	 	INSERT
		INTO content 
		VALUES	 (	seq_content_content_no.nextval , #{userId} , #{userNickName} , '#{contentName}' , #{contentBody} , 
							#{fileName} , #{videoName} , SYSDATE, #{viewCount}, #{boardCode}, #{contentCode}, #{open}, #{goodCount},
							#{badCount}, #{refundTranNo}, #{refundCheck} )
	 </insert>
	 
	 
	 
</mapper>