<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CouponMapper">
 	
 	
	<resultMap id="CouponSelectMap" type="coupon">
		<result property="couponNo" 			column="coupon_no" 			jdbcType="NUMERIC"/>
		<result property="couponCode"	column="coupon_code" 		jdbcType="VARCHAR" />
		<result property="userId" 	column="password" 		jdbcType="VARCHAR" />
		<result property="couponUseDate" 				column="role" 					jdbcType="DATE" />
		<result property="couponRegDate" 				column="ssn" 					jdbcType="DATE" />
		<result property="couponStatement" 			column="cell_phone" 		jdbcType="VARCHAR" />

	</resultMap>
	
	<!-- SQL : INSERT -->
	<insert 	id="insertCoupon"		parameterType="coupon" >
	 	INSERT
		INTO users( couponNo , couponCode , userId , couponUseDate , couponRegDate, couponStatement) 
		VALUES	 (	#{userId} , #{userName} , #{password} , 'user' , #{ssn:VARCHAR} , 
							#{phone:VARCHAR} , #{addr:VARCHAR} , #{email:VARCHAR} , SYSDATE )
	 </insert>
	 
	 
	 
</mapper>